<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>admin</servlet-name>
		<display-name>admin</display-name>
		<description></description>
		<servlet-class>com.AdminServlets.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addTrain</servlet-name>
		<display-name>addTrain</display-name>
		<description></description>
		<servlet-class>com.AdminServlets.AddTrainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>usersList</servlet-name>
		<display-name>usersList</display-name>
		<description></description>
		<servlet-class>com.AdminServlets.ViewAllUsers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addAdmin</servlet-name>
		<display-name>addAdmin</display-name>
		<description></description>
		<servlet-class>com.AdminServlets.AddAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateUser</servlet-name>
		<display-name>updateUser</display-name>
		<description></description>
		<servlet-class>com.AdminServlets.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteUser</servlet-name>
		<display-name>deleteUser</display-name>
		<description></description>
		<servlet-class>com.AdminServlets.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logout</servlet-name>
		<display-name>logout</display-name>
		<description></description>
		<servlet-class>com.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aLogout</servlet-name>
		<display-name>aLogout</display-name>
		<description></description>
		<servlet-class>com.AdminServlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>alltrains</servlet-name>
		<display-name>alltrains</display-name>
		<description></description>
		<servlet-class>com.UserServlets.AvailableTrains</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>addTrain</servlet-name>
		<url-pattern>/addTrain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>usersList</servlet-name>
		<url-pattern>/usersList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addAdmin</servlet-name>
		<url-pattern>/addAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateUser</servlet-name>
		<url-pattern>/updateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteUser</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aLogout</servlet-name>
		<url-pattern>/aLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>alltrains</servlet-name>
		<url-pattern>/alltrains</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Welcome.html</welcome-file>
		<welcome-file>AViewAllUsers.jsp</welcome-file>
	</welcome-file-list>
</web-app>
